.hook
{
    background: #FFFDE7;
    border: 2px dashed #F8E71C;
    clear: both;
    color: #545454 !important;
    font-size: 12px !important;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;
}