/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.btn-disabled {
    pointer-events: none !important;
}

.customize-control-content.disabled {
	cursor: not-allowed !important;
}

#sub-accordion-section-hookmeup_shop_section.control-section .customize-control-kirki-editor .customize-control-title,
#sub-accordion-section-hookmeup_product_section.control-section .customize-control-kirki-editor .customize-control-title,
#sub-accordion-section-hookmeup_cart_section.control-section .customize-control-kirki-editor .customize-control-title,
#sub-accordion-section-hookmeup_checkout_section.control-section .customize-control-kirki-editor .customize-control-title,
#sub-accordion-section-hookmeup_account_section.control-section .customize-control-kirki-editor .customize-control-title {
    display: none;
}

p.hook-description {
    padding: 5px 0 0 0;
    margin: 0;
    font-style: italic;
    font-size: 12px;
    color: #aaa;
}

.select2-results__option--highlighted .hook-description {
	color: #fff;
}

.select2-selection__rendered .hook-description {
	display: none;
}

@media all and (min-height: 600px) and (max-height: 800px) {
	.select2-results__options.hookmeup-select {
		max-height: 250px !important;
	}
}

@media all and (min-height: 800px) {
	.select2-results__options.hookmeup-select {
		max-height: 450px !important;
	}
}
