/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.btn-disabled {
    pointer-events: none !important;
}

.customize-control-content.disabled {
	cursor: not-allowed !important;
}

.button-close {
	background: #71cd71 !important;
    border-color: #55bb55 !important;
    text-shadow: 0 -1px 1px #46a146, 1px 0 1px #46a146, 0 1px 1px #46a146, -1px 0 1px #46a146 !important;
    box-shadow: 0 1px 0 #46a146 !important;
}
/*
.button-close {
	background: red !important;
}*/