/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.btn-disabled {
    pointer-events: none !important;
}

.customize-control-content.disabled {
	cursor: not-allowed !important;
}

.button-close {
	background: #71cd71 !important;
    border-color: #55bb55 !important;
    text-shadow: 0 -1px 1px #46a146, 1px 0 1px #46a146, 0 1px 1px #46a146, -1px 0 1px #46a146 !important;
    box-shadow: 0 1px 0 #46a146 !important;
}

#sub-accordion-section-hookmeup_shop_section.control-section .customize-control-kirki-generic .customize-control-title,
#sub-accordion-section-hookmeup_product_section.control-section .customize-control-kirki-generic .customize-control-title,
#sub-accordion-section-hookmeup_cart_section.control-section .customize-control-kirki-generic .customize-control-title,
#sub-accordion-section-hookmeup_checkout_section.control-section .customize-control-kirki-generic .customize-control-title,
#sub-accordion-section-hookmeup_account_section.control-section .customize-control-kirki-generic .customize-control-title,
#sub-accordion-section-hookmeup_shop_section.control-section .customize-control-kirki-editor .customize-control-title,
#sub-accordion-section-hookmeup_product_section.control-section .customize-control-kirki-editor .customize-control-title,
#sub-accordion-section-hookmeup_cart_section.control-section .customize-control-kirki-editor .customize-control-title,
#sub-accordion-section-hookmeup_checkout_section.control-section .customize-control-kirki-editor .customize-control-title,
#sub-accordion-section-hookmeup_account_section.control-section .customize-control-kirki-editor .customize-control-title {
    display: none;
}

#sub-accordion-section-hookmeup_shop_section.control-section .customize-control-kirki-generic .customize-control-content input,
#sub-accordion-section-hookmeup_product_section.control-section .customize-control-kirki-generic .customize-control-content input,
#sub-accordion-section-hookmeup_cart_section.control-section .customize-control-kirki-generic .customize-control-content input,
#sub-accordion-section-hookmeup_checkout_section.control-section .customize-control-kirki-generic .customize-control-content input,
#sub-accordion-section-hookmeup_account_section.control-section .customize-control-kirki-generic .customize-control-content input {
	background: none;
    border: none;
    box-shadow: none;
    font-weight: bold;
    padding-left: 25px;
    color: #555d66;
    height: 20px;
}

#sub-accordion-section-hookmeup_shop_section.control-section .customize-control-kirki-generic:nth-child(2n+2) .customize-control-content input,
#sub-accordion-section-hookmeup_product_section.control-section .customize-control-kirki-generic:nth-child(2n+2) .customize-control-content input,
#sub-accordion-section-hookmeup_cart_section.control-section .customize-control-kirki-generic:nth-child(2n+2) .customize-control-content input,
#sub-accordion-section-hookmeup_checkout_section.control-section .customize-control-kirki-generic:nth-child(2n+2) .customize-control-content input,
#sub-accordion-section-hookmeup_account_section.control-section .customize-control-kirki-generic:nth-child(2n+2) .customize-control-content input {
	background: url(../images/green_dot.png);
	background-size: contain;
    background-repeat: no-repeat;
}

#sub-accordion-section-hookmeup_shop_section.control-section .customize-control-kirki-generic:nth-child(2n+1) .customize-control-content input,
#sub-accordion-section-hookmeup_product_section.control-section .customize-control-kirki-generic:nth-child(2n+1) .customize-control-content input,
#sub-accordion-section-hookmeup_cart_section.control-section .customize-control-kirki-generic:nth-child(2n+1) .customize-control-content input,
#sub-accordion-section-hookmeup_checkout_section.control-section .customize-control-kirki-generic:nth-child(2n+1) .customize-control-content input,
#sub-accordion-section-hookmeup_account_section.control-section .customize-control-kirki-generic:nth-child(2n+1) .customize-control-content input {
	background: url(../images/red_dot.png);
	background-size: contain;
    background-repeat: no-repeat;
}



